html {
    background-color:rgb(0, 128, 70);
  }

body {
    box-sizing:border-box;
    padding:25px;
    color: white;
}

a {
    color:inherit;
}

header {
    height: 10%;
}

.header img {
    float: left;
    max-width: 10%;
    max-height: 10%;
    transform: scaleX(-1);
    border-radius: 50%;
}

.header h1 {
    position: relative;
}


h1 {
    color: rgb(238, 0, 255);
    font-family: 'Bitter', serif;
    max-width: 10%;
    max-height: 10%;
}

.for {
    color:yellow
}

p {
    font-family: 'Quicksand', sans-serif;
    padding: 15px
  }

.result {
    margin-bottom: 10px;
    display: block; 
    text-decoration: none;
    padding: 15px
 }

 .custom-restricted {
    height: 50px;
    width: 150px;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: aquamarine;
 }

 .open-button {
    height: 50px;
    width: 150px;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: rgb(255, 127, 242);
 }

 .modal {
    max-width: 50ch;
    text-align: center;
 }

 .modal::backdrop { 
    background: rgb(0 0 0 / .4);
 }

 .close-button {
    height: 50px;
    width: 150px;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: rgb(255, 127, 242);
 }

 .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}